
<div class="container">
    <h2 class="lead mx-auto mt-5 mb-5">Historial</h2>
    <div class="row mb-4 bg-light">
        <div class="col-8">URL</div>
        <div class="col-3">ANALIZADO:</div>
    </div>
    <div class="row border-bottom mb-4" *ngFor="let url of urls">
            <div class="col-8">
                <a [routerLink]="['/analisis',url.id]">
                    {{url.url}}
                </a>
            </div>
        <div class="col-3 text-muted">{{url.createdAt | date:'dd/MM/yyyy HH:mm' }}</div>
    </div>
</div>

