<div class="bg">
    <div class="d-flex flex-column vh-100 justify-content-center">
        <h1 class="display-4 text-center mt-5" style="color: darkblue; position: absolute; top: 0; width: 100%;">
            Metadata•ID</h1>
            <p class="text-center display-6 mb-5">Introduzca una URL para obtener su análisis SEO</p>
        <div class="row justify-content-center align-items-center">
            <div class="col-10">
                <app-buscador-seo></app-buscador-seo>
            </div>
        </div>
    </div>
</div>